h1 {text-align: center;}

section {float: left;
         margin-left: 16%;
}
#submit{
    background-color: black;
    color:white; 
    padding: 3px 54px 3px 54px;
    margin-top: 24px;  
}

aside{float: right;
      margin-right: 16%;
}

.btn{
margin:8% auto;
}